@font-face {
    font-family: 'DelaGothicOne';
    src: url('fonts/DelaGothicOne-Regular.ttf');
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
    font-style: normal;
    font-display: swap;
  }
* { margin: 0;
    padding: 0;}

.container {
    width: 1176px;
    margin: auto;
}






.banner {
    display: flex;
    align-items: center;
    height: 570px;
    position: relative;
    margin-top: 150px;
}
h1 {
    font-family: "DelaGothicOne";
    font-size: 128px;
    text-align: center;
    width: 1176px;
    z-index: 1;
}
.cloud {
    position: absolute;
}
main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 75px;
}
.cloud_1 {
    top: 199px;
    left: -20px;
}
.cloud_2 {
    top: 0;
    left: 182px;
}
.cloud_3 {
    bottom: 24px;
    right: -35px;
}
.cloud_4 {
    bottom: 0;
    right: 407px;
}
.cloud_5 {
    top: 60px;
    right: 248px;
}
.cloud_6 {
    bottom: 49px;
    left: 67px;
}







.events {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}
.events .text {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.name {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 48px;
}
.name_mini {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 24px;
}
.description {
    font-family: "Montserrat";
    font-size: 20px;
}
.info {
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px 5px 5px 0px;
}










.swiper {
    width: 761px;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.swiper-button-next::after {
    content: url(images/Button-R-T-2.png);
}
.swiper-button-prev::after {
    content: url(images/Button-R-T-2.png);
    rotate: 180deg;
}
.swiper-button-prev, .swiper-button-next {
    align-items: initial;
}
.swiper-button-prev {
    left: 38px;
    width: 38px;
    height: 38px;
}
.swiper-button-next {
    right: 38px;
    width: 38px;
    height: 38px;
}
.swiper-button-next .swiper-button-disabled, .swiper-button-prev .swiper-button-disabled {
    opacity: 0.5;
}



.event {
    width: calc(100% - 50px);
    height: 100%;
    height: 309px;
    padding: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}
.event_top {
    width: 711px;
    height: 309px;
}
.event .text {
    color: white;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event .text .top {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event .text .bottom {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
}


.event .buttons {
    position: relative;
    width: 656px;
    height: 48px;
    bottom: 180px;
    left: 25px;
    right: 25px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.event .button_event_l, .event .button_event_r {
    width: 38px;
    height: 38px;
}






.color-calendar.basic .calendar__weekdays {
    display: none;
}
.color-calendar.basic {
    height: 100%;
    width: 400px;
    background-color: #F2F2F2;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.calendar__day-text, .calendar__day-other {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: normal;
}
.color-calendar.basic .calendar__days .calendar__day {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: normal;
}
.color-calendar.basic .calendar__days .calendar__day-selected .calendar__day-text {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
}
.color-calendar .calendar__monthyear .calendar__month, .color-calendar .calendar__monthyear .calendar__year {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
}
.color-calendar.basic .calendar__days .calendar__day-selected .calendar__day-box {
    border-radius: 100%;
    box-shadow: none;
    background: linear-gradient(90deg ,#EE0979, #FF0000 45%, #FF6A00);
}





.history {
    position: relative;
    padding: 25px;
}
.history_information {
    width: 826px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.history_image {
    position: absolute;
    right: 0;
    top: 0;
}






.directions {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}
.directions_bottom {
    display: flex;
    flex-direction: row;
    gap: 25px;
}





.card {
    background-color: #f2f2f2;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 12px;
    width: 280px;
    height: 406px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.directions_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.directions_info .img {
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    border-radius: 10px;
    height: 130px;
    justify-content: center;
}
.directions_info .img .name {
    color: white;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
}
.directions_info .img .date {
    color: white;
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 700;
}
.directions_info .txt {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 400;
    line-height: 157%;
}
.directions_zayavka {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: #2F28F0;
    display: flex;
    align-items: center;
}
.directions_zayavka::after {
    content: "";
    width: 8px;
    height: 4px;
    background-image: url(images/arrow.svg);
    transform: rotate(270deg);
}

.card_shk {
    width: calc( (100% - 25px)/2 );
    height: fit-content;
    gap: 10px;
}
.card_shk .txt {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.drop {
    border: none;
    background: none;
}
.drop_title {
    color: #2F28F0;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 400;
    line-height: 157%;
}
.drop_title:hover {
    background: linear-gradient(90deg ,#EE0979, #FF0000 45%, #FF6A00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .drop_title::after:hover {
    поменять цвет
} */
.drop_info {
    display: none;
}

.drop_title::after {
    content: "";
    width: 8px;
    height: 4px;
    background-image: url(images/arrow.svg);
}

.open .drop_info {
    display: block;
}
.open .drop_title::after {
    transform: rotate(180deg);
}




.link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
}
.links {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 400;
    line-height: 157%;
    background: linear-gradient(90deg ,#EE0979, #FF0000 45%, #FF6A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}
.link div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
