@font-face {
    font-family: 'DelaGothicOne';
    src: url('fonts/DelaGothicOne-Regular.ttf');
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
    font-style: normal;
    font-display: swap;
  }
* { 
    margin: 0;
    padding: 0;
    scroll-margin-top: 100px;
}

.container {
    max-width: 1176px;
    margin: auto;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    gap: 75px;
}





header {
    position: fixed;
    z-index: 102;
    width: 100%;
    top: 10px;
}
.header_all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 5px 50px 5px 50px;
    border-radius: 10px;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
}
.header_links, .header_nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}
.header_links {
}
.header_nav {
    padding: 10px;
}
.header_logo img {
    height: 60px;
}
.header_nav_link {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    background: linear-gradient(90deg ,#EE0979, #FF0000 45%, #FF6A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header_nav_link:hover {
    background: #FF0000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header_shk {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #Ffffff;
    background: linear-gradient(90deg ,#EE0979, #FF0000 45%, #FF6A00);
    padding: 10px 33px;
    text-decoration: none;
}
.header_shk:hover {
    background: #FF0000;
}





.banner {
    display: flex;
    align-items: center;
    height: 570px;
    position: relative;
    margin-top: 150px;
    justify-content: center;
}
h1 {
    font-family: "DelaGothicOne";
    font-size: 128px;
    text-align: center;
    z-index: 1;
}
.cloud {
    position: absolute;
}
main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 75px;
    overflow: hidden;
}
.cloud_1 {
    top: 199px;
    left: -20px;
}
.cloud_2 {
    top: 0;
    left: 182px;
}
.cloud_3 {
    bottom: 24px;
    right: -35px;
}
.cloud_4 {
    bottom: 0;
    right: 407px;
}
.cloud_5 {
    top: 60px;
    right: 248px;
}
.cloud_6 {
    bottom: 49px;
    left: 67px;
}







.events {
    width: calc(100% - 50px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}
.events .text {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.name {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 48px;
}
.name_mini {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 24px;
}
.description {
    font-family: "Montserrat";
    font-size: 20px;
}
.info {
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px 5px 5px 0px;
}










.swiper {
    width: 761px;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.swiper-button-next::after {
    content: url(images/Button-R-T-2.png);
}
.swiper-button-prev::after {
    content: url(images/Button-R-T-2.png);
    rotate: 180deg;
}
.swiper-button-prev, .swiper-button-next {
    align-items: initial;
}
.swiper-button-prev {
    left: 38px;
    width: 38px;
    height: 38px;
}
.swiper-button-next {
    right: 38px;
    width: 38px;
    height: 38px;
}
.swiper-button-next .swiper-button-disabled, .swiper-button-prev .swiper-button-disabled {
    opacity: 0.5;
}



.event {
    width: calc(100% - 50px);
    height: 100%;
    height: 309px;
    padding: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}
.event_top {
    width: 100%;
    height: 309px;
}
.event .text {
    color: white;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event .text .top {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event .text .bottom {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
}


.event .buttons {
    position: relative;
    width: 656px;
    height: 48px;
    bottom: 180px;
    left: 25px;
    right: 25px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.event .button_event_l, .event .button_event_r {
    width: 38px;
    height: 38px;
}






.color-calendar.basic .calendar__weekdays {
    display: none;
}
.color-calendar.basic {
    height: 100%;
    width: 400px;
    background-color: #F2F2F2;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.calendar__day-text, .calendar__day-other {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: normal;
}
.color-calendar.basic .calendar__days .calendar__day {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: normal;
}
.color-calendar.basic .calendar__days .calendar__day-selected .calendar__day-text {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
}
.color-calendar .calendar__monthyear .calendar__month, .color-calendar .calendar__monthyear .calendar__year {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
}
.color-calendar.basic .calendar__days .calendar__day-selected .calendar__day-box {
    border-radius: 100%;
    box-shadow: none;
    background: linear-gradient(90deg ,#EE0979, #FF0000 45%, #FF6A00);
}
.color-calendar.basic .calendar__days .calendar__day-bullet {
    display: none;
}
.calendar__day-event .calendar__day-text {
    background: linear-gradient(90deg ,#EE0979, #FF0000 45%, #FF6A00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.calendar__day-selected .calendar__day-text {
    background: #Ffffff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}





.history {
    position: relative;
    padding: 25px;
}
.history_all {
    position: relative;
}
.history_information {
    max-width: 826px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: calc(100% - (560px - (374px / 2)));
}
.history_image {
    position: absolute;
    right: calc(-374px / 2);
    top: 0;
    border-radius: calc(374px / 2);
}






.directions {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}
.directions_bottom {
    display: flex;
    flex-direction: row;
    gap: 25px;

    flex-wrap: wrap;
}





.card {
    background-color: #f2f2f2;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 12px;
    width: calc((100% - 75px)/4 - 24px);
    height: 406px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    
    min-width: 250px;
}
.directions_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.directions_info .img {
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    border-radius: 10px;
    height: 130px;
    justify-content: center;
}
.directions_info .img .name {
    color: white;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    max-width: calc(100% - 50px);
}
.directions_info .img .date {
    color: white;
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 700;
}
.directions_info .txt {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 400;
    line-height: 157%;
}
.directions_zayavka {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    /* color: #2F28F0 !important; */
    display: flex;
    align-items: center;
    gap: 5px;
    /* cursor: pointer; */
    width: fit-content;
    /* text-decoration: none; */
}
.directions_zayavka a {
    color: #2F28F0;
    text-decoration: none;
}
.directions_zayavka::after {
    content: "";
    width: 8px;
    height: 4px;
    background-image: url(images/arrow.svg);
    transform: rotate(270deg);
}
.directions_zayavka:hover {
    background: linear-gradient(90deg ,#EE0979, #FF0000 45%, #FF6A00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.directions_zayavka:hover::after {
    background-image: url(images/arrow_active.svg);
}

.card_shk {
    width: calc((100% - 25px)/2 - 24px);
    height: fit-content;
    gap: 10px;
}
.card_shk .txt {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.drop {
    border: none;
    background: none;
}
.drop_title {
    color: #2F28F0;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 400;
    line-height: 157%;
    text-align: left;
}
.drop_title:hover {
    background: linear-gradient(90deg ,#EE0979, #FF0000 45%, #FF6A00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.drop_title:hover::after {
    background-image: url(images/arrow_active.svg);
}
.drop_info {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.3s ease-out;
}

.drop_title::after {
    content: "";
    width: 8px;
    height: 4px;
    background-image: url(images/arrow.svg);
}

.open .drop_info {
    opacity: 1;
}
.open .drop_title::after {
    transform: scaley(-1);
}





.link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    width: 100%;
}
.links {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 400;
    line-height: 157%;
    background: linear-gradient(90deg ,#EE0979, #FF0000 45%, #FF6A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
}
/* .links::after {
    content: "";
    width: 8px;
    height: 4px;
    background-image: url(images/arrow_active.svg);
    transform: rotate(270deg);
} */
.link div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.links:hover {
    background: #FF0000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.links::after {
    content: "";
    width: 8px;
    height: 4px;
    background-image: url(images/arrow_active.svg);
    transform: rotate(270deg);
}
.links:hover::after {
    content: "";
    width: 8px;
    height: 4px;
    background-image: url(images/arrow_active_active.svg);
    transform: rotate(270deg);
}






footer {
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding: 25px 0 100px 0;
}
.footer_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1176px;
    height: 60px;
}
.footer_link {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: #Ffffff;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    width: fit-content;
}
.there::after {
    content: "";
    width: 8px;
    height: 4px;
    background-image: url(images/arrow_white.svg);
    transform: rotate(180deg);
}
.other:hover::after {
    background-image: url(images/arrow_active.svg);
}
.other::after{
    content: "";
    width: 8px;
    height: 4px;
    background-image: url(images/arrow_white.svg);
    transform: rotate(270deg);
}
.there:hover::after {
    background-image: url(images/arrow_active.svg);
}
.footer_line {
    width: 100%;
    height: 1px;
    background-color: #8d8d8d;
    max-width: 1176px;
}
.footer_all_1 .footer_line {
    height: 0.5px;
}
.footer_link:hover {
    background: linear-gradient(90deg ,#EE0979, #FF0000 45%, #FF6A00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer_all {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-bottom: 25px;
    width: 100%;
    max-width: 1176px;
    justify-content: space-between;
}
.footer_all_1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer_all_1 div {
    display: flex;
    flex-direction: row;
    gap: 10px 75px;
}
.footer_all_2 {
    width: calc(50% - 100px);
}
.footer_all_3 {
    width: calc(100% * (200 / 1126));
}
.footer_all_2 div {
    width: 100%;
    flex-wrap: wrap;
}
.footer_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1176px;
}
.footer_bottom div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.adm {
    font-family: "Montserrat";
    font-size: 11px;
    font-weight: 400;
    color: #8d8d8d;
}
.adm2 {
    width: 50%;
}
.adm3 {
    width: calc(100% * (200 / 1126));
}









@media (max-width: 768px) {
    .events .info {
        flex-direction: column;
    }
    .swiper {
        /* max-width: 400px; */
        width: 100%;
    }
    .color-calendar {
        max-width: 100% !important;
    }
    .color-calendar_1 {
        align-self: normal;
    }
    .history_information {
        width: 100%;
    }
    .history_all {
        flex-direction: column;
    }
    .history_image {
        position: relative;
        right: 0;
        width: 100%;
    }
    h1 {
        font-size: 64px;
    }
    .name {
        font-size: 32px;
    }
    .cloud_5 {
        right: 350px;
    }
    .header_nav {
        display: none;
    }
    .card {
        height: fit-content;
    }
    .footer_all {
        gap: 10px;
    }
    .footer_all_2 {
        width: calc(50% - 20px);
    }
    .footer_link .other, .footer_link .there {
        width: min-content;
    }
}
